@model JobbyGarden.ViewModel.BlogSingleVM
@{
    ViewData["Title"] = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!-- MAIN-->
<main id="main">


    <!-- PAGE HEADING-->
    <section class="section page-heading js-parallax-scroll" style="background-image: url('/syte/images/bg-heading-04.jpg');">
        <div class="container">
            <div class="page-heading-inner">
                <div class="section-heading section-heading-1 section-heading-1--tiny text-left">
                    <h2 class="section-heading__title">Blog Standard</h2>
                    <div class="section-heading__line">
                        <img src="~/syte/images/icon/line-blue-small.png" alt="Line" />
                    </div>
                </div>
                <nav class="au-breadcrumb">
                    <ul class="list-unstyled list-breadcrumb">
                        <li class="list-breadcrumb__item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="list-breadcrumb__item">Blog</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- END PAGE HEADING-->
    <!-- BLOG SINGLE-->
    <section class="section p-t-125 p-b-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="blog-single">
                        <div class="media media-blog-4 m-b-10">
                            <div class="media__img">
                                <a class="img-radius" href="blog-single.html">
                                    <img src="~/Librarry/Blog/@Model.galeryBlogs.First().ImageBlog" alt="Sed ut perspiciatis unde">
                                </a>
                                <div class="media__date">
                                    <div class="media__date-inner">
                                        <span class="day">@Model.blog.Date.ToString("dd")</span>
                                        <span class="month">@Model.blog.Date.ToString("MMMM")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media__body">
                                <h4 class="media__title title title--black title--s35">
                                    <a href="blog-single.html">@Model.blog.Name</a>
                                </h4>
                                <div class="media__info">
                                    <span class="author">
                                        <a href="#">@Model.blog.User.Fullname</a>
                                    </span>
                                    <a class="cmt" href="#">0</a>
                                </div>
                                <p class="media__text">
                                   @Model.blog.Blogdesc1
                                </p>
                            </div>
                        </div>
                        <div class="blockqoute-blog m-b-30">
                            <blockquote class="blockqoute-blog__inner">
                               @Model.blog.Title
                            </blockquote>
                        </div>
                        <div class="block-images m-b-10">
                            <div class="row row-special">
                                <div class="col-60">
                                    <div class="row row-special">

                                        @foreach (var item in Model.galery2Image)
                                        {
                                            <div class="col-50">
                                                <div class="block-images-item">
                                                    <img class="img-radius" src="~/Librarry/Blog/@item.ImageBlog" alt="Blog Single 1">
                                                </div>
                                            </div>

                                        }
                                     
                                        <div class="col-100">
                                            <div class="block-images-item">
                                                <img class="img-radius" src="~/Librarry/Blog/@Model.galery3Image.First().ImageBlog" alt="Blog Single 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-30">
                                    <div class="block-images-item">
                                        <img class="img-radius" src="~/Librarry/Blog/@Model.galery4Image.First().ImageBlog" alt="Blog Single 3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="title title--sbold title--s18 m-b-10">Nor again is there anyone who loves or pursues or desires to obtain pain</h5>
                        <p class="m-b-25">
                            @Model.blog.Blogdesc2
                        <div class="blog-single__info m-b-40">
                            <ul class="list-tags list-unstyled">
                                <li class="list-tags__icon">
                                    <i class="fas fa-tags"></i>
                                </li>

                                <li class="list-tags__item">
                                    <a href="#">@Model.blog.blogCategory.Name</a>
                                </li>
                               
                            </ul>
                            <ul class="list-unstyled list-inline list-social list-social-3">
                                <li class="list-inline-item">
                                    <a class="ic-fb" href="#">
                                        <i class="zmdi zmdi-facebook-box"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="ic-twi" href="#">
                                        <i class="zmdi zmdi-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="ic-insta" href="#">
                                        <i class="zmdi zmdi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="media media-author-2 m-t-40 m-b-55">
                            <div class="media__circle"></div>
                            <div class="media__img">
                                <a class="img-circle-border-2" href="#">
                                    <img src="~/syte/images/cmt-01.jpg" alt="Author 2">
                                </a>
                            </div>
                            <div class="media__body">
                                <h4 class="title title--sbold title--sm">Denise Murray</h4>
                                <span class="email"><a href="https://freebw.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea8e8f8483998fb5d2d9aa8f928b879a868fc4898587">[email&#160;protected]</a></span>
                                <p class="m-t-15 m-b-20">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms</p>
                                <ul class="list-unstyled list-inline list-social list-social-3">
                                    <li class="list-inline-item">
                                        <a class="ic-fb" href="#">
                                            <i class="zmdi zmdi-facebook-box"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="ic-twi" href="#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="ic-insta" href="#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="ic-in" href="#">
                                            <i class="zmdi zmdi-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="title title--md">Comments</h3>
                        <ul class="list-unstyled list-cmts comabout">
                            @foreach (var item in Model.comajx)
                            {
                                @await Html.PartialAsync("_Partialcomment", item)
                            }
                        </ul>
                        <h3 class="title title--md m-b-35">Post a Comment</h3>
                      
                        <form method="post" >
                            <div class="au-input-group m-b-20 cmd">
                                <input type="hidden" name="postId" value="@Model.blog.Id" />
                                <textarea asp-for="comments.Descripton" name="Descripton" id="text" class="textarea-border-4 cvm"    required placeholder="Your Comment"></textarea>
                                <span id="errorMsg" style="color:red; display:none;">Boş olmaz.</span>
                            </div>
                            <button data-postId="@Model.blog.Id" class="au-btn au-btn--blue comlistt" type="button" >
                               Comment
                                <i class="zmdi zmdi-chevron-right"></i>
                                <i class="zmdi zmdi-chevron-right"></i>
                            </button>
                        </form> 
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="page-sidebar p-sm-t-50">
                        <div class="media media-author">
                            <div class="media__img">
                                <a class="img-circle-border" href="#">
                                    <img src="~/syte/images/author-01.jpg" alt="Author">
                                </a>
                            </div>
                            <div class="media__body">
                                <h4 class="title title--black title--xs media__title">
                                    <a href="#">Amanda Garcia</a>
                                </h4>
                                <span class="media__desc">Author</span>
                                <div class="sign">
                                    <img src="~/syte/images/icon/sign-02.png" alt="Sign">
                                </div>
                            </div>
                        </div>
                        <div class="widget p-b-30 p-t-45">
                            <div class="section-heading section-heading-1 section-heading-1--tiny2 text-left">
                                <h2 class="section-heading__title">Categories</h2>
                                <div class="section-heading__line">
                                    <img src="~/syte/images/icon/line-blue-tiny.png" alt="Line">
                                </div>
                            </div>
                            <ul class="list-bare list-unstyled">
                                @foreach (var item in Model.blogCategories)
                                {
                                    <li class="list-bare__item">
                                        <span class="dot"></span>
                                        <a class="list-bare__link" href="#">@item.Name</a>
                                    </li>
                                }


                            </ul>
                        </div>
                        <div class="widget p-b-30">
                            <div class="section-heading section-heading-1 section-heading-1--tiny2 text-left">
                                <h2 class="section-heading__title">Recent Posts</h2>
                                <div class="section-heading__line">
                                    <img src="~/syte/images/icon/line-blue-tiny.png" alt="Line">
                                </div>
                                <div class="m-b-20"></div>
                            </div>
                            @foreach (var item in Model.bloglist)
                            {
                                <div class="media media-blog-5">
                                    <div class="media__img">
                                        <a class="img-radius" href="blog-single.html">
                                            <img src="~/Librarry/Blog/@item.GaleryBlogs.First().ImageBlog" alt="Excepteur occaecat" />
                                        </a>
                                    </div>
                                    <div class="media__body">
                                        <p class="media__time">@item.Date.ToString("MMMM dd,yyyy").ToUpperInvariant()</p>
                                        <h5 class="title title--black media__title">
                                            <a asp-controller="BlogMassonry" asp-action="BlogSingle" asp-route-id="@item.Id">@item.Name</a>
                                        </h5>
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="widget p-b-35">
                            <div class="section-heading section-heading-1 section-heading-1--tiny2 text-left">
                                <h2 class="section-heading__title">Tag Cloud</h2>
                                <div class="section-heading__line">
                                    <img src="~/syte/images/icon/line-blue-tiny.png" alt="Line">
                                </div>
                                <div class="m-b-25"></div>
                            </div>
                            <div class="au-tag-lists">
                                <a class="au-tag__item" href="#">Music</a>
                                <a class="au-tag__item" href="#">Children</a>
                                <a class="au-tag__item" href="#">Dance</a>
                                <a class="au-tag__item" href="#">Nutrition</a>
                                <a class="au-tag__item" href="#">Safety</a>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-insta">
                                <div class="widget-insta__title">#Instagram</div>
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <div class="widget-insta__item">
                                            <a class="bg-overlay" href="#">
                                                <i class="zmdi zmdi-instagram"></i>
                                            </a>
                                            <img src="~/syte/images/insta-01.jpg" alt="Insta 1">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="widget-insta__item">
                                            <a class="bg-overlay" href="#">
                                                <i class="zmdi zmdi-instagram"></i>
                                            </a>
                                            <img src="~/syte/images/insta-02.jpg" alt="Insta 2">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="widget-insta__item">
                                            <a class="bg-overlay" href="#">
                                                <i class="zmdi zmdi-instagram"></i>
                                            </a>
                                            <img src="~/syte/images/insta-03.jpg" alt="Insta 3">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="widget-insta__item">
                                            <a class="bg-overlay" href="#">
                                                <i class="zmdi zmdi-instagram"></i>
                                            </a>
                                            <img src="~/syte/images/insta-04.jpg" alt="Insta 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget p-t-50">
                            <form class="form form--icon" method="post">
                                <input class="input-border-3" type="text" placeholder="Search...">
                                <button class="btn-submit-2" type="submit">
                                    <span class="lnr lnr-magnifier"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BLOG SINGLE  -->
    <!-- CTA-->
    <section class="section cta-1 bg-pink p-t-80 p-b-55">
        <div class="container">
            <div class="cta-wrap">
                <div class="cta__img wow fadeInUp" data-wow-delay=".2s">
                    <img src="~/syte/images/cta-item-01.png" alt="CTA">
                </div>
                <div class="row">
                    <div class="col-md-7 offset-md-5">
                        <div class="wrap--w625">
                            <div class="cta">
                                <div class="cta__body">
                                    <h2 class="title cta__title">How to Enroll Your Child to a Class?</h2>
                                    <p class="cta__text">Interested in good preschool education for your child? Our kindergarten is the right decision!</p>
                                    <a class="au-btn au-btn--blue" href="#">
                                        find our more
                                        <i class="zmdi zmdi-chevron-right"></i>
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CTA-->
</main>
<!-- END MAIN-->
@section Javascript
{ 
    <script src="~/syte/js/mainajax.js"></script>
}