@model IEnumerable<JobbyGarden.Models.BlogCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutpanel.cshtml";
}
<section class="content" style="height:auto">
    <div class="container-fluid">
        <h2>Index</h2>

        <p>
            <a class="btn btn-success btn-lg" style="margin:20px 0" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-warning btn-lg" style="margin:20px 0" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-info btn-lg" style="margin:20px 0" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-danger btn-lg" style="margin:20px 0" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</section>