@model JobbyGarden.Models.Age

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutpanel.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <h2>Details</h2>
        <div>
            <h4>Age</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Miniage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Miniage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Maxage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Maxage)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        </div>
</section>